<section class="wrap tb-page">
  <h1 class="tb-page__title">{{ page.title }}</h1>
  <div class="rte">{{ page.content }}</div>
</section>

{% schema %}
{ "name": "Page", "settings": [] }
{% endschema %}
